- content_for :page_title do
  Альбомы
  .search
    %form{action: root_path, method: 'get'}
      = text_field_tag :query, params[:query], placeholder: 'Поиск'

#albums.clearfix= render partial: 'album', collection: @albums