- content_for :page_title do
  = @album.title

#album{class: params[:theme]}

:javascript
  Galleria.run('#album', {
      flickr: "set:#{@album.flickr}",
      flickrOptions: {
          sort: 'date-posted-asc'
      }
  });
