body {
	background: image-url('background.jpg') 50% 50%;
	background-attachment: fixed;
}
#wrapper {
	max-width: 1200px;
	margin: 0 auto;
	margin-top: 50px;

	#header {
		position: relative;
		background: image-url('background_dark.png');
		padding: 5px 0 8px 50px;
		min-height: 35px;

		.page-title {
			margin: 0;
			color: #eee;
			font-size: 20px;
			font-weight: normal;
			text-shadow: 1px 1px 8px #fff;
			opacity: 0.9;
			filter: alpha(opacity=90);
			padding-right: 200px;

			.back {
				position: absolute;
				left: 0;
				top: 0;
				widht: 30px;
				height: 100%;
				padding: 0 10px;

				&:hover {
					background: image-url('background_green.png');
				}
				img {
					margin-top: 5px;
				}
			}
			.theme {
				position: absolute;
				top: 0;
				right: 0;
				height: 100%;

				a {
					float: left;
					height: 100%;
					text-align: center;
					width: 50px;

					&.active,
					&:hover {
						background: image-url('background_green.png');
					}
				}
				img {
					margin-top: 5px;
				}
			}
		}
	}
	#content {
		width: 100%;
		background: image-url('background_light.png');
		padding: 50px;

	}
}
#album {
	width: 100%;
	height: 659px;

	&.twelve {

		.galleria-image {
			width: 141px;
			height: 75px;
		}
	}
	&.folio {

		.galleria-image {
			width: 265px;
		}
		.galleria-container {
			background: transparent;
		}
		.galleria-preloader {
			height: 4px;
			width: 50%;
			margin-left: 25%;
			margin-top: 260px;
		}
	}
}

@media screen and (max-width: 1200px) {

	#wrapper {

		#content {
			padding-left: 0;
			padding-right: 0;
		}
	}
}
@media screen and (max-width: 600px) {

	#wrapper {

		#header {

			.page-title {
				margin-top: 3px;
				font-size: 16px;
			}
		}
	}
}
@media screen and (max-width: 400px) {

	#wrapper {

		#header {

			.page-title {
				margin-top: 4px;
				font-size: 12px;
			}
		}
	}
}
