.flickr-loader {
	background: image-url('loader_flickr.gif') no-repeat 50% 50%;
	background-color: #000;
	width: 128px;
	height: 128px;
	opacity: 0.4;
	filter: alpha(opacity=40);
	margin: 0 auto;
	margin-top: 200px;
}
