%head
  %title Photogallery
  = javascript_include_tag "application"
  = render 'layouts/theme'
  = stylesheet_link_tag    "application", media: "all"
  = csrf_meta_tags
  %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0", :name => "viewport"}/
  %meta{:content => "width=device-width", :name => "viewport"}/
